@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------
Celular: de 320px até 600px
Tablet: 601px até 768px
Desktop: 769px até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 600px) {
    header {
        font-size: 1.5em;
    }
    header img {
        max-width: 92px;
        max-height: 92px;
        margin: -30px 15px;
        padding-top: 4px;
        padding-bottom: 20px; 
    }
    nav a {
        padding: 6px 12px 12px 12px;
    }
    nav a:hover {
        margin-bottom: 5px;
    }
    main {
        max-width: 100%;
        padding: 88px 0 0 0;
        font-size: 1.2em;
    }
    main img {
        top: 114px
    }
    .course, .service {
        flex: 1;
    }
    .links a {
        margin: 5px 5px 0 0;
    }
    .links i {
        font-size: 1.6em;
    }
}