@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Typical Device Breakpoints
---------------------------
Celular: de 320px até 600px
Tablet: 601px até 768px
Desktop: 769px até 1200px
TV: acima de 1200px
*/

:root {
    --color0: #cc4646;
    --color1: #d83434;
    --color2: #515931;
    --color3: #899C4E;
    --color4: #0D0D0D;
    --color5: #1F2421;
    --color6: #e2e4d7;
    --color7: #F5F5F5;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-title: "Playfair Display", serif;
    --fonte-destaque: 'Bebas Neue', sans-serif, cursive;
    --fonte-footer: 'Roboto', serif, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--color7);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header {
    padding-bottom: 22px;
    background-color: var(--color7);
    font-family: var(--fonte-destaque);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
}

header div {
    text-align: right;
    margin: 5px 10px 0 0;
}

select:hover {
    background-color: var(--color6);
}

button {
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
    padding: 1px;
}

button:hover {
    background-color: var(--color6);
}

#language-select {
    cursor: pointer;
    border-radius: 10px;
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
}

header img {
    max-width: 64px;
    max-height: 64px;
    margin: -20px 10px;
    padding-bottom: 10px;
}

nav a {
    color: var(--color5);
    padding: 4px 10px;
    text-decoration: none;
}

nav a:hover {
    transform: translate(-1px, -1px);
    color: black;
    transition-duration: .25s;
    border-bottom: 2px solid var(--color0);
}

main {
    min-width: 320px;
    max-width: 600px;
    margin: auto;
    padding: 56px 0 0 0;
}

main img {
    position: fixed;
    top: 82px;
    width: 100%;
    z-index: -1;
    min-height: 568px;
}

section {
    text-align: center;
    padding: 25px;
    margin: 25px 0;
    scroll-margin-top: 100px;
}

main div {
    max-width: 1120px;
    margin: auto;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.3em;
    padding: 10px;
    font-size: 1em;
}

main strong {
    font-weight: bold;
    font-style: italic;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color0);
}

main a:hover {
    color: var(--color1);
    border-bottom: 1px solid var(--color0);
}

main ul li {
    list-style-type: none;
}

.smoke {  
    background-color: rgba(245, 245, 245, 0.8);
    text-align: left;
}

.transparent p {
    background-color: rgba(245, 245, 245, 0.8);
    text-align: left;
}

.transparent p, .smoke p {
    padding: 5px 25px 0 25px;
}

.hidden-content {
    display: none; /* Oculta por padrão */
}

.show-more {
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    color: var(--color5); /* Cor do link para mostrar que é interativo */
    margin-left: auto; /* Empurra o ícone para a direita */
}

.show-more:hover {
    transition-duration: 0.25s;
    color: var(--color7);
}

.show-more i {
    vertical-align: middle; /* Alinha verticalmente o ícone com o texto */
    transition: transform 0.25s ease; /* Adiciona uma transição suave para a rotação */
}

h1 {
    font-family: var(--fonte-title);
    color: var(--color0);
    font-size: 1.6em;
    text-align: center;
    background-color: var(--color7);
    margin-bottom: 15px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); /* Para navegadores WebKit como Chrome e Safari */
    text-stroke: 1px rgba(0, 0, 0, 0.2); /* Para outros navegadores que suportam a propriedade 'text-stroke' */
}

h2 {
    display: flex;
    align-items: end; /* Alinha verticalmente o conteúdo */
    background-color: var(--color0);
    font-family: var(--fonte-title);
    font-size: 1.05em;
    color: var(--color7);
    text-indent: 25px;
    font-weight: normal;
    margin: 10px 0px;
    padding: 2px 25px 2px 25px;
    text-align: left;
    max-width: 670px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    transition: border-radius 0.25s ease; /* Adiciona uma transição suave */
}

.h2-expanded {
    max-width: 1120px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

h3 {
    font-family: var(--fonte-destaque);
    font-style: normal;
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
    color: var(--color0);
    margin: 20px 15px 10px 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3:hover {
    transform: translate(-1px, -1px);
    transition: transform 0.25s;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

h4 {   
    font-family: var(--fonte-title);
    color: var(--color0);
    letter-spacing: 1px;
    font-size: 1.25em;
    padding-bottom: 10px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); /* Para navegadores WebKit como Chrome e Safari */
    text-stroke: 1px rgba(0, 0, 0, 0.2); /* Para outros navegadores que suportam a propriedade 'text-stroke' */
}

footer {
    padding: 1px;
    background-color: var(--color7);
    font-family: var(--fonte-footer);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content div {
    flex: 1 1 48%; /* Each div will take up approximately 45% of the width */
    margin: 0;
}

.footer-content div img {
    max-width: 135px;
}

.links {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.links p {
    margin: 5px;
}

#socialmedia {
    padding-top: 6px;
}

.links i {
    margin-right: 5px;
    color: var(--color0);
}

.links a:hover {
    transition: transform 0.25s;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

#footer-end {
    border-top: 1px solid var(--color0);
    color: var(--color0);
    font-weight: bold;
}

/* Dark Mode */

body.dark-mode {
    background-color: var(--color5);
    color: var(--color6);
}

header.dark-mode {
    background-color: var(--color5);
}

header.dark-mode nav a {
    color: var(--color6);
}

main.dark-mode .smoke {
    background-color: rgba(031, 036, 033, 0.9);
}

main.dark-mode .transparent p {
    background-color: rgba(031, 036, 033, 0.9);
}

main.dark-mode h1 {
    background-color: var(--color5);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.05); /* Para navegadores WebKit como Chrome e Safari */
    text-stroke: 1px rgba(255, 255, 255, 0.05); /* Para outros navegadores que suportam a propriedade 'text-stroke' */
}

main.dark-mode h2 {
    color: var(--color4);
}

main.dark-mode span.show-more {
    color: var(--color7); /* Cor do link para mostrar que é interativo */
}

main.dark-mode span.show-more:hover {
    color: var(--color5);
}

footer.dark-mode h4 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.05); /* Para navegadores WebKit como Chrome e Safari */
    text-stroke: 1px rgba(255, 255, 255, 0.05); /* Para outros navegadores que suportam a propriedade 'text-stroke' */
}

footer.dark-mode {
    background-color: var(--color5);
}

footer.dark-mode .links a:hover {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}